.popup_body {
  position: absolute;
  overflow-y: scroll;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0;
  left: 0;
}

.popUp_content{
  width: 100%;
  height: 100%;
}

.popUp_iframe{
  width: 100%;
  height: 90%;
}


.popUp_navigation{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.popUp_navigation_close{
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.popUp_button{
  margin-bottom: 10px;
}